#sobre {
    display: grid;
    grid-template-rows: 1fr auto;
    background: var(--color-dark);
}

#sobre>.wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 20px;
    padding: 40px;
}

#sobre h1 {
    color: var(--color-white);
}

#sobre .grid {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    row-gap: 20px;
}

#sobre .grid > .image { 
    justify-self: center;
}

#sobre .grid > .image > img {
    width: 100%;
    max-width: 300px;
    border-radius: 100%;
}

#sobre .grid > .info {
    color: var(--color-white);
    text-align: center;
}

#sobre .grid > .info > strong {
    font-size: 18px;
} 

#sobre .bottom {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 100px solid var(--color-yellow);
}

@media (min-width: 780px) {    
    #sobre .grid {
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
    }
}