#about {
    display: grid;
    grid-template-rows: auto auto 1fr;
    background: var(--color-black);
}

#about>h1 {
    padding: 40px;
    justify-self: end;
    color: var(--color-white);
}

#about>p {
    padding: 0 80px;
}
#about .bottom {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 100px solid var(--color-white);
}

@media (min-width: 780px) {    
    #about>h1 {
        padding: 40px 80px;
    }
}