#services {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background: var(--color-white);
  color: var(--color-dark);
}

#services > h1 {
  padding: 40px 80px;
}

#services > p {
  padding: 0 80px;
}

#services > .items {
  width: 100%;
  max-width: var(--max-width);
  justify-self: center;
  align-self: center;
  padding: 80px;
}

#services>.items>ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
}

@media (min-width: 780px) {
  #services>.items>ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

#services>.items>ul>li {
  display: grid;
  grid-template-rows: 1fr 50px;
  justify-items: center;
  text-align: center;
  gap: 10px;
}

#services>.items>ul>li>img {
  width: 50%;
  align-self: end;
}

#services>.items>ul>li>strong {
  font-size: 20px;
}

#services .bottom {
  width: 0;
  height: 100px;
  border-left: 50vw solid var(--color-yellow);
  border-right: 50vw solid var(--color-yellow);
  border-top: 60px solid transparent;
}

/*
#services .bottom {
  width: 0;
  height: 0;
  border-right: 98vw solid transparent;
  border-bottom: 50px solid var(--color-yellow);
}
*/

/*
  #services > ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
  }
  @media (min-width: 780px) {
    #services > ul {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }            
  }          
  #services > ul > li {
    display: grid;
    grid-template-rows: 50% auto;
    justify-.items: center;
    gap: 10px;
  }  
  #services > ul > li > img {
    height: 50%;
  }  
  #services > ul > li > strong {
    font-size: 20px;
  }                            
  
  
  
*/