.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff60;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading > i {
    color: var(--color-yellow);
    font-size: 96px;
}