nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "logo menu-button" "menu menu";
    width: 100%;
}

.logo {
    grid-area: logo;
    height: 100%;
    align-self: center;
    padding: 10px 0 10px 20px;
}

.menu-button {
    grid-area: menu-button;
    display: block;
    background: none;
    border: 0;
    font-size: 30px;
    color: var(--dark);
    padding: 0 20px;
    cursor: pointer;
}

.menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 0;
    z-index: 100;
    visibility: hidden;
}
.menu {
    -webkit-box-shadow: 0px 10px 92px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 92px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 92px 2px rgba(0,0,0,0.2);
}
.menu>li>a {
    display: block;
    padding: 19px 12px;
    font-size: 18px;
    font-weight: 800;
    color: var(--dark);
    text-shadow: var(--shadow-expand);
    text-align: center;
}

.menu>li>a:hover {
    background: var(--yellow);
}

.menu-open {
    visibility: inherit;
}

@media (min-width: 780px) {
    nav {
        grid-template-columns: auto 1fr 1fr auto;
        grid-template-rows: 1fr;
        grid-template-areas: "logo . menu-button menu";
    }
    .logo {       
        padding: 20px 0 20px 50px;
    }
    .menu-button {
        visibility: hidden;
    }
    .menu {
        flex-direction: row;
        justify-self: end;
        background: none;
        padding: 0 50px 0 0;
        visibility: inherit;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;        
    }
    .menu>li {
        align-self: center;
        text-align: center;
    }
    .menu>li>a:hover {
        text-decoration: underline;
        background: none;
    }
}