#portfolio {
    display: grid;
    grid-template-rows: auto auto 1fr;
    background: var(--yellow);
}

#portfolio>h1 {
    justify-self: center;
}

#portfolio>p {
    padding: 0 80px;
}

#portfolio h1::before {
    background: var(--white);
}

#portfolio .bottom {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 100px solid var(--black);
}