#portfolio {
    display: grid;
    grid-template-rows: 1fr auto;    
    background: var(--color-white-light);
}

#portfolio>.wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 10px;    
    padding: 40px;
  }

#portfolio .top {
    justify-self: center;
    text-align: center;
}

#portfolio h1 {
    color: var(--color-dark);
    border-bottom: 4px solid var(--color-yellow);
}

#portfolio p {
    justify-self: center;
    padding: 10px 0;
}

#portfolio .gallery {
    width: 100%;
    max-width: var(--max-width);
    justify-self: center;
    align-self: center;
}

.gallery .images {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.gallery .images>li {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.gallery .images>li>.info {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: #fff;
    opacity: 0;
}

.gallery .images>li>.info:hover {
    background: #0000009a;
    cursor: pointer;
    opacity: 1;
    transition: all .5s ease;
}

.gallery .images>li>.info>strong {
    display: block;
    width: 100%;
    padding: 0 0 4px 0;
    font-size: 20px;
    border-bottom: 1px solid var(--color-yellow-dark);
}

.gallery .images>li>.info>p {
    padding: 4px 0 0 0;
}

.gallery .images>li>img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.gallery button {
    grid-area: button;
    width: 100%;
    height: 60px;
    background: var(--color-yellow);
    border: 0;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-dark);
    cursor: pointer;
    margin: 20px 0 0 0;
}

#portfolio .bottom {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 100px solid var(--color-yellow);
}


@media (min-width: 780px) {    
    #portfolio>.wrapper{
        padding: 40px 80px;
    }    
    .gallery .images>li {
        width: 25%;
    }
    .gallery button {
        max-width: 25%;
    }
}