.portfolio {
  display: grid;
  grid-template-areas: "title"
                       "images"
                       ".";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 30px;
  padding: 0 40px;
}
.portfolio h1 {
  grid-area: title;  
  color: var(--dark);
  font-size: 42px;
  text-align: center;
  text-shadow: var(--shadow);
}
.portfolio .images {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.portfolio .images > li {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.images > li > .info {
  position: absolute;
  width: 100%;
  height: 100%;  
  padding: 10px;
  color: #fff;
  opacity: 0;
}
.images > li > .info:hover {
  background: #0000009a;
  cursor: pointer;
  opacity: 1;
  transition: all .5s ease;  
}
.images > li > .info > strong {
  display: block;
  width: 100%;
  padding: 0 0 4px 0;
  font-size: 20px;
  border-bottom: 1px solid var(--yellow-dark);
}
.images > li > .info > p {
  padding: 4px 0 0 0;
}
.images > li > img {
  display: block;
  width: 100%;  
}
@media (min-width: 780px) {
  .portfolio {
    padding: 4vh 50px;
    gap: 20px;
  }
  .portfolio h1 {
    font-size: 48px;
    text-align: left;
  } 	
  .portfolio .images > li {
    width: 25%;
  }
}
@media (min-width: 900px) {
  .portfolio .images > li {
    width: 20%;
  }
}